html,
body {
  height: 100%;
  width: 100%;
  font-family:Arial,sans-serif;
}

/* Special fonts */

@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: url('../fonts/FranklinGothicHeavyRegular.eot');
  src: local('x'),
  url('../fonts/FranklinGothicHeavyRegular.woff') format('woff'),
  url('../fonts/FranklinGothicHeavyRegular.otf') format('opentype'),
  url('../fonts/FranklinGothicHeavyRegular.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic Demi Regular';
  src: url('../fonts/FranklinGothicDemiRegular.eot');
  src: local('x'),
  url('../fonts/FranklinGothicDemiRegular.otf') format('opentype'),
  url('../fonts/FranklinGothicDemiRegular.woff') format('woff'),
  url('../fonts/FranklinGothicDemiRegular.svg') format('svg');
}

.btn,.navbar a {
  text-transform:uppercase;
  font-family:'Franklin Gothic Heavy Regular',Arial,sans-serif;
  letter-spacing:2px;
}

h1, h2, h3, h4 {
  text-transform:uppercase;
  font-family:'Franklin Gothic Heavy Regular';
}

.icon-bar {
 background-color:#fff;
}

@keyframes bounce {
  from {
    bottom: 25px;
  }
  to {
    bottom: 15px;
  }
}

.scroll-down {
 animation: bounce 0.70s ease-in 0.30s infinite alternate both;
 position: absolute;
 bottom: 2%;
}

.scroll-down svg {
  fill: #fff;
}

.row {
  margin: 0;
  padding: 0
}

.vert {
  vertical-align: middle;
  width:100%;
  text-align:center;
}

.navbar a {
  color:#fff;
  font-size:14px;
}

@media (max-width: 768px){
  .navbar-header, .navbar-collapse {
    background-color:#0261ba;
  }
}

.header h1 {
  font-size:108px;
  color:#000;
  margin-left:auto;
  margin-right:auto;
  top:20%;
  bottom:80%;
  text-transform:uppercase;
}

.header h2 {
  font-size:50px;
  color:#fff;
  margin-left:auto;
  margin-right:auto;
  margin-top: ;
  text-transform:uppercase;
}

.header h3 {
  font-size:35px;
  color:#000;
  margin-left:auto;
  margin-right:auto;
  margin-top: ;
  text-transform:uppercase;
}

.header {
  height: 100%;
  background-color: rgba(50, 100, 255, 0.5);
}


.alt.affix {
  background-color: #0261ba;
}

.alt.affix li a:hover, .alt.affix li a:active, .alt.affix li.active {
  background-color: rgba(0, 0, 0, 1);
}

.alt li a:hover, .alt a:hover, .alt li.active {
  background-color: rgba(80, 80, 80, 0.4);
}

.parallax {
  color: #ffffff;
  min-height: 500px;
}

/* Video*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/phone-background.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/* Content Video */

.logo{
  margin-top: 4%;
  width: 175px;
  margin-left:auto;
  margin-right:auto;
}

.box_button{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 8px solid #ffffff;
  font-size: 1.25em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 2% 0 0 0;
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.box_parallax a{
  font-family: 'Franklin Gothic Heavy Regular';
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.box_parallax a:hover{
 color: #00baff;
}

.first {
  margin-right: 5%;
}

@media (max-width: 1300px) {
  .header h1 {
    font-size: 80px;
  }
  .header h2 {
    font-size: 40px;
  }
  .header h3 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 60px
  }
  .header h2 {
    font-size: 30px;
  }
  .header h3 {
    font-size: 25px;
  }
  .logo{
    margin-top: 16%;
    width: 125px;
  }
}


/* Artist */

.background-artist{
  height:280px;
  color: white;
  padding:0px;
}

.background-artist .audio{
  background-color: rgba(66, 139, 202, 0.5);
  width:100%;
  height:100%;
  text-align:center;
}

.audio > i {
  font-size: 120px;
  line-height: 120px;
}

.audio > i:hover {
  font-size: 130px;
}

#artist-1{
  background: url('../img/artists/1.jpg');
  background-size: cover;
}

#artist-2{
  background: url('../img/artists/2.png') center center;
  background-size: cover;
}

#artist-3{
  background: url('../img/artists/3.png');
  background-size: cover;
}

#artist-4{
 background: url('../img/artists/4.jpg') center center;
 background-size: cover;
}

#artist-5{
  background: url('../img/artists/5.jpg') center center;
  background-size: cover;
}

#artist-6{
  background: url('../img/artists/6.png');
  background-size: cover;
}

#artist-7{
  background: url('../img/artists/7.png');
  background-size: cover;
}

#artist-8{
  background: url('../img/artists/8.png') center center;
  background-size: cover;
}

#artist-9{
  background: url('../img/artists/9.jpg');
  background-size: cover;
}

#artist-10{
  background: url('../img/artists/10.jpg');
  background-size: cover;
}

#artist-11{
  background: url('../img/artists/11.jpg');
  background-size: cover;
}

#artist-12{
  background: url('../img/artists/12.jpg') center center;
  background-size: cover;
}

.background-artist h1{
 text-align: center;
}

/* Performance Times*/

.performance-times .menu{
  background-color:#3ea4ef;
}

.performance-times{
  background-color:#fff;
}


.performance-times-title h1{
  padding-top: 1%; padding-bottom: 1%;
  color:white;
}

.timeline-day{
  padding-top: 1%; padding-bottom:20px;
  color:white;
  font-size: 30px;
  text-transform: none;
  border-bottom: black;
  text-decoration: none;
}

.timeline-day:hover, .timeline-day.active{
  box-shadow: inset 0px -8px 0 0px #014896;
  cursor:pointer;
}

.performance-times .timeline img{
  width: 100%;
}

#friday{
  overflow: hidden;
}

#saturday{
  overflow: hidden;
}

#sunday{
  overflow: hidden;
}

@media (min-width: 767px) {
  #saturday{
    margin-left:33.33%;
  }

  #sunday{
    margin-left:66.66%;
  }
}

/* Tickets Section */

.logo-billet{
  width: 10%;
  padding-bottom: 5%;
}

.content-tickets{
  padding-top: 14.30%;
  padding-bottom: 14.30%;
}

.bleu-filter{
  background-color: rgba(0, 50, 255, 0.4);
}

/* Geting To Ice Music Festival */

.gettingto h1{
  text-transform: none
}

.gettingto{
  padding: 2% 0;
  background-color:#f1f1f1;
}

.transport{
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  margin-top: 55px;
  padding-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 7px;
  border-left: 1px solid #dedfe2;
  border-right: 1px solid #dedfe2;
  border-bottom: 1px solid #D0D1D5;
  box-shadow: 0 1px 0 0 #dedfe2;
}

.transport:hover{
  border-left: 1px solid #c4c5c7;
  border-right: 2px solid #c4c5c7;
  border-bottom: 2px solid #bbbbbc;
  box-shadow: 0 1px 0 0 #c4c5c7;
}

.transport img{
  width: 14%;
  padding-bottom: 25px;
}

.transport p{
  font-family: 'Franklin Gothic Heavy Regular';
  text-align: justify;
  font-size: 17px;
}

.train{
  padding-bottom: 40px;
}

/* Enjoy Social */ 

.enjoy .text-center{
  padding-top: 5%;
  padding-bottom: 5%;
}

.enjoy h1{
  font-size: 100px;
  color: #fff;
}

.enjoy h2{
  font-family: 'Franklin Gothic Demi Regular';
  font-size: 50px;
  color: #fff;
}

.enjoy img{
  text-align: center;
  padding: 0px 10px 40px 10px;
}

/* Contact Infos */

.contact{
  background-color: #f1f1f1;
}

.contact .infos{
  height: 400px;
  padding: 0px;
}

.contact .infos h1{
  font-family: 'Franklin Gothic Demi Regular' bold;
  font-size: 30px;
  text-transform: none;
}

.contact .infos h2{
  font-family: 'Franklin Gothic Demi Regular' bold;
  font-size: 30px;
  text-transform: none;
}

.contact .infos p{
  font-family: 'Franklin Gothic Demi Regular';
  font-size: 20px;
}

/* Footer */

.footer{
  background-color: #2c2c2c;
}

.footer h1{
  color: #fff;
}

.footer h2{
  color: #acacac;
}
